$background: #DEDCCF;
$primary: #136F63;
$backgroundDark: #040F16;


#pageTitle {
    text-align: center;
}

body {
    background-color: $background;
}

.card {
    margin: 10px;
}

#genres-cards {
    margin-top: 10px;
}
